<div *ngIf="(authors | async) && (authors | async).length>0" class="section">
  <div class="container">
    <div class="row text-center">
      <h2>Authors</h2>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <div class="row row--flex">
          <div *ngFor="let author of (authors | async)" class="col-md-2">
            <div class="text-center">
              <a routerLink="/authors/{{author.Id}}" *ngIf="author.Avatar" style="cursor: pointer;">
                <img class="img-circle" [src]="author.Avatar.ThumbnailUrl" [alt]="author.Avatar.AlternativeText"/>
              </a>
              <h3><a style="cursor: pointer;" routerLink="/authors/{{author.Id}}">{{author.Name}}</a></h3>
              <p>{{author.JobTitle}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
