<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div *ngIf="articles && articles.length>0">
        <ng-container *ngFor="let article of articles; let i = index">
          <ul *ngIf="i % 3 == 0" class="list-unstyled row news-list-page">
            <li class="col-md-4">
              <ng-container
                *ngTemplateOutlet="articleTemplate; context: { item: article}">
              </ng-container>
            </li>
            <li class="col-md-4" *ngIf="i + 1 < articles.length">
              <ng-container
                *ngTemplateOutlet="articleTemplate; context: { item: articles[i + 1]}">
              </ng-container>
            </li>
            <li class="col-md-4" *ngIf="i + 2 < articles.length">
              <ng-container
                *ngTemplateOutlet="articleTemplate; context: { item: articles[i + 2]}">
              </ng-container>
            </li>
          </ul>
        </ng-container>

        <div *ngIf="shouldShowLoadMore" class="load-more text-center u-mt4">
          <a (click)="LoadMore()" style="cursor: pointer;">
            <span class="glyphicon glyphicon-chevron-down glyph-bordered"></span>
            <br />
            Load 10 more articles
          </a>
        </div>
      </div>

    </div>
    <div *ngIf="(categories | async) && (tags | async)" class="col-md-3 gray_column">
      <div class="row">
        <div class="col-md-12">
          <div class="sf-Long-text">
            <h5 style="text-align: left">Categories</h5>
          </div>
          <app-taxa classes="list-unstyled categories-list" [taxas]="categories | async" (taxaClicked)="getArticlesByTaxa(categoryName, $event)"></app-taxa>
          <div class="sf-Long-text">
            <h5 style="text-align: left">Tags</h5>
          </div>
          <app-taxa classes="categories-list list-unstyled" [taxas]="tags | async" (taxaClicked)="getArticlesByTaxa(tagsName, $event)"></app-taxa>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #articleTemplate let-article="item">
  <div [ngClass]="{'featured_news_recent': article.Featured}" class="col-xs-12 news_item_recent news_text homepage_news">
    <a routerLink="/articles/{{article.Id}}">
      <img class="img-circle" *ngIf="article.Thumbnail" [src]="article.Thumbnail.Url" [alt]="article.Thumbnail.AlternativeText"/>
    </a>
    <div class="homepage_news_text">
      <h4>
        <a routerLink="/articles/{{article.Id}}">
          {{article.Title}}
        </a>
      </h4>
      <span class="text-muted">
        {{article.DateCreated}} <br>
         by
        {{article.Author}}
    </span>
      <p [innerHtml]="article.Summary">
      </p>
    </div>
  </div>
  <div *ngIf="article.Featured" class="ribbon"><span>FEATURED</span></div>
</ng-template>
